@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
#flash-message {
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-green-100 border border-green-300 rounded-lg p-6 shadow-lg max-w-md text-center;
    transition: opacity 1s ease-out;
  }
  
  #overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 z-40;
  }

  ::-ms-reveal {
    display: none;
  }