---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import SimpleCard from "../shared_components/SimpleCard.astro"
---

<DefaultLayout title="Devel One">
	<SimpleCard>
		<h1>Devel One</h1>
		<p>Hello, world!!</p>
	</SimpleCard>
</DefaultLayout>
