<.form :let={f} for={@changeset} class="max-w-[320px]" phx-submit="update_virtual_host">
  <div class="mb-2">
    <.input field={f[:code_name]} class="input" label="Code name" />
  </div>
  <div class="flex justify-end items-end gap-2">
    <button type="button" class="btn btn-neutral" phx-click="cancel">Cancel</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</.form>
