<.form :let={f} for={@changeset} class="max-w-[360px]" phx-submit="create_owner">
  <div class="mb-2">
    <.input field={f[:name]} class="input" label="Name" />
  </div>
  <div class="flex justify-end items-end gap-2">
    <button type="button" class="btn btn-neutral" phx-click="cancel">Cancel</button>
    <button type="submit" class="btn btn-accent">Create</button>
  </div>
</.form>
